<h1>RESULTS</h1>
  <% if @included %>
    <% if @english_word %>
      <p><%= @word %></p>
    <% else %>
    <p>Not an english word</p>
    <% end %>
  <% else %>
    <p>Incorrect letters</p>
  <% end %>
