@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap");

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#deck {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card {
  display: flex;
  background: radial-gradient(circle, transparent 60%, rgb(167, 159, 137)),
    rgb(216, 206, 178);
  height: 180px;
  margin: 4px;
  height: 135px;
  width: 75px;
  align-items: center;
  justify-content: space-around;
  font-family: "Oswald", sans-serif;
  font-size: 80px;
  padding: 10px;
  border: 2px solid rgb(122, 66, 66);
  border-radius: 5px;
  box-shadow: 0 0 15px rgb(0, 0, 0);
}

.submission {
  margin-top: 30px;
}

.answer {
  width: 200px;
  height: 26.03px;
  border-radius: 5px;
  border: 1px solid black;
}

.btn {
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  font-weight: bold;
}
